<div id="menu">
	<ul>
	<li>
		<% if signed_in? %>
			<%= link_to "Déconnexion", signout_path, :method => :delete %>
		<% else %>
			<%= link_to "Connexion", signin_path %>
		<% end %>
	</li>
	<li>|</li>
	<li>
		<% if signed_in? %>
			Bienvenue, <%= current_user.login %>
		<% else %>
			<a href="/signup">Inscription</a>
		<% end %>
	</li>
	</ul>
</div>
<div id="title">
	<%= image_tag("welcome.png", alt: "Bienvenue") %>
</div>
<div id="window">
	<table>
		<tbody>
			<tr>
				<td>
					<a href="">
						<%= image_tag("soupe_icon.png", alt: "Soupes") %>

					</a>
					<p>Soupes</p>
				</td>
				<td>
					<a href="">
						<%= image_tag("plate_icon.png", alt: "Plats") %>
	
					</a>
					<p>Plats</p>
				</td>
			</tr>
			<tr>
				<td>
					<a href="">
						<%= image_tag("salad_icon.png", alt: "Salades") %>

					</a>
					<p>Salades</p>
				</td>
				<td>
					<a href="">
						<%= image_tag("dessert_icon.png", alt: "Desserts") %>

					</a>
					<p>Desserts</p>
				</td>
			</tr>
		</tbody>
	</table>
</div>



